<div class="p-fluid p-grid">
    <div class="card">
        <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
                <input type="text" id="inputtext" pInputText class="ng-invalid ng-dirty" placeholder="InputText">
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-autoComplete inputId="autocomplete" [(ngModel)]="value2" [suggestions]="filteredCountries" (completeMethod)="searchCountry($event)" field="name" class="ng-invalid ng-dirty" placeholder="AutoComplete"></p-autoComplete>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-calendar inputId="calendar" [(ngModel)]="value3" class="ng-invalid ng-dirty" [showIcon]="true" placeholder="Calendar"></p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-chips inputId="chips" [(ngModel)]="value4" class="ng-invalid ng-dirty" placeholder="Chips"></p-chips>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-inputMask inputId="inputmask" mask="99/99/9999" [(ngModel)]="value5" class="ng-invalid ng-dirty" placeholder="InputMask"></p-inputMask>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-inputNumber inputId="inputnumber" [(ngModel)]="value6" class="ng-invalid ng-dirty" placeholder="InputNumber"></p-inputNumber>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-cascadeSelect [options]="cascadeSelectCountries" optionLabel="cname" optionGroupLabel="name" [optionGroupChildren]="['states', 'cities']" class="ng-invalid ng-dirty" placeholder="CascadeSelect"></p-cascadeSelect>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value7" optionLabel="name" class="ng-invalid ng-dirty" placeholder="Dropdown"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-multiSelect inputId="multiselect" [options]="cities" [(ngModel)]="value8" optionLabel="name" [filter]="false" class="ng-invalid ng-dirty" placeholder="MultiSelect"></p-multiSelect>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-password [(ngModel)]="value9" placeholder="Password" class="ng-invalid ng-dirty"></p-password>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-treeSelect [(ngModel)]="value10" [options]="files" placeholder="TreeSelect" class="ng-invalid ng-dirty"></p-treeSelect>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <textarea inputId="textarea" rows="3" cols="30" [(ngModel)]="value11" pInputTextarea class="ng-invalid ng-dirty" placeholder="Textarea"></textarea>
            </div>
        </div>
    </div>
