<div class="container">
  <img src="assets/primeng.png"/>
</div>
<h1>Formulários</h1>
<br>
<a routerLink="/formularios">Autocomplete</a><br>
<a routerLink="/calendar">Calendar</a><br>
<a routerLink="/cascadeselect">Seleção em cascata</a><br>
<a routerLink="/checkbox">Checkbox</a><br>
<a routerLink="/chips">Chips</a><br>
<a routerLink="/colorpicker">Color Picker</a><br>
<a routerLink="/dropdown">Drop Down</a><br>
<a routerLink="/editor">Editor de textos</a><br>
<a routerLink="/floatlabel">Label Flutuante</a><br>
<a routerLink="/inputgroup">Input group</a><br>
<a routerLink="/inputmask">Input Mask</a><br>
<a routerLink="/inputswitch">Input Switch</a><br>
<a routerLink="/inputtext">Input Text</a><br>
<a routerLink="/textarea">Text area</a><br>
<a routerLink="/inputnumber">Input Number</a><br>
<a routerLink="/invalidstate">Invalid State</a><br>
<a routerLink="/knob">Knob</a><br>
<a routerLink="/button">button</a><br>
<a routerLink="/splitbutton">split button</a><br>
<a routerLink="/keyfilter">Key Filter</a><br>
<a routerLink="/tablecrud">Table crud</a><br>
<a routerLink="/listbox">Listbox Component</a><br>
<a routerLink="/multiselect">Multiselect</a><br>
<a routerLink="/password">Password</a><br>
<router-outlet></router-outlet>